.book-list {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
}

.book-image {
    width: 100%;
}

.book-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

/* BookCard */
.bookcard-main {
    width: 230px;
}
.bookcard-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bookcard-body h2 {
    color: cornflowerblue;
}
.bookcard-title {
    height: 100%;
}

/* Responsive design */
@media screen and (max-width: 595px) {
    .book-list {
        width: 90%;
    }
    .bookcard-main {
        width: 200px;
    }
}

@media screen and (max-width: 460px) {
    .book-list {
        width: 95%;
    }
    .bookcard-main {
        width: 160px;
    }
}

@media screen and (max-width: 355px) {
    .book-list {
        width: 95%;
    }
    .bookcard-main {
        width: 235px;
    }
}