.gifts {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    margin-top: 80px;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 530px) {
    .gifts {
        width: 95%;
        gap: 10px;
    }
}